src/main/mule/recruiting-post-update-unpost-job.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:workday="http://www.mulesoft.org/schema/mule/workday" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd">
	<configuration-properties file="mule-app.properties"/>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8d61dd83-f77f-44af-8e8f-247cd3cc1f76" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<workday:config name="Workday_Config_version_35" doc:name="Workday Config version 35" doc:id="63220581-77c3-4c98-b71c-dc12f92e3688" >
		<workday:basic-authentication-api-connection userName="${workday.username}" password="${workday.password}" tenantName="${workday.tenantname}" hostName="${workday.hostname}" />
	</workday:config>
	<flow name="post-update-unpost-jobFlow2" doc:id="6dea0b44-c2ba-4e0d-b2de-5bd9402e2f30" >
		<http:listener config-ref="HTTP_Listener_config" path="/" doc:name="/" doc:id="ab0f658d-1fc3-4d99-8108-3b871e390aa3" />
		<parse-template location="form.html" doc:name="Parse Template" doc:id="cf9020d1-f599-4762-b004-c4c305d9c392" />
	</flow>
	<flow name="create-job-requisition-flow" doc:id="206390c9-feff-48cb-bb25-c0dc06fc4c79" >
		<http:listener config-ref="HTTP_Listener_config" path="/create-job-requisition" doc:name="/create-job-requisition" doc:id="59fc5868-a000-4e23-af10-e5b0542a2248" />
		<logger level="INFO" doc:name="Logger" doc:id="0c14daf4-b714-4045-a627-6760db33b479" />
		<ee:transform doc:name="Transform Message" doc:id="8145fff2-e889-4787-acdf-6a2c6867dccb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Create_Requisition_Request @(ns0#version: "v35.0"): {
		ns0#Business_Process_Parameters: {
			ns0#Auto_Complete: true
		},
		ns0#Create_Job_Requisition_Data: {
			ns0#Supervisory_Organization_Reference: {
				ns0#ID @(ns0#"type": "Organization_Reference_ID"): payload.organizationReferenceID
			},
			ns0#Create_Job_Requisition_Reason_Reference: {
				ns0#ID @(ns0#"type": "Event_Classification_Subcategory_ID"): payload.createJobRequisitionReasonID
			},
			ns0#Job_Requisition_Data: {
				ns0#Job_Posting_Title: payload.jobRequisitionTitle,
				ns0#Recruiting_Start_Date: payload.recruitingStartDate,
				ns0#Target_Hire_Date: payload.targetHireDate,
				ns0#Job_Profile_Reference: {
					ns0#ID @(ns0#"type": "Job_Profile_ID"): payload.jobProfileID
				},
				ns0#Worker_Type_Reference: {
					ns0#ID @(ns0#"type": "Worker_Type_ID"): payload.workerTypeID
				},
				ns0#"Worker_Sub-Type_Reference": {
					ns0#ID @(ns0#"type": "Employee_Type_ID"): payload.employeeTypeID
				},
				ns0#Primary_Location_Reference: {
					ns0#ID @(ns0#"type": "Location_ID"): payload.locationReferenceID
				},
				ns0#Position_Time_Type_Reference: {
					ns0#ID @(ns0#"type": "Position_Time_Type_ID"): payload.positionTimeTypeID
				}
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Create_Requisition_Request @(ns0#version: "v35.0"): {
		ns0#Business_Process_Parameters: {
			ns0#Auto_Complete: true
		},
		ns0#Create_Job_Requisition_Data: {
			ns0#Supervisory_Organization_Reference: {
				ns0#ID @(ns0#"type": "Organization_Reference_ID"): payload.organizationReferenceID
			},
			ns0#Create_Job_Requisition_Reason_Reference: {
				ns0#ID @(ns0#"type": "Event_Classification_Subcategory_ID"): payload.createJobRequisitionReasonID
			},
			ns0#Job_Requisition_Data: {
				ns0#Job_Posting_Title: payload.jobRequisitionTitle,
				ns0#Recruiting_Start_Date: payload.recruitingStartDate,
				ns0#Target_Hire_Date: payload.targetHireDate,
				ns0#Job_Profile_Reference: {
					ns0#ID @(ns0#"type": "Job_Profile_ID"): payload.jobProfileID
				},
				ns0#Worker_Type_Reference: {
					ns0#ID @(ns0#"type": "Worker_Type_ID"): payload.workerTypeID
				},
				ns0#"Worker_Sub-Type_Reference": {
					ns0#ID @(ns0#"type": "Employee_Type_ID"): payload.employeeTypeID
				},
				ns0#Primary_Location_Reference: {
					ns0#ID @(ns0#"type": "Location_ID"): payload.locationReferenceID
				},
				ns0#Position_Time_Type_Reference: {
					ns0#ID @(ns0#"type": "Position_Time_Type_ID"): payload.positionTimeTypeID
				}
			}
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:recruiting doc:name="Recruiting || Create_Job_Requisition" doc:id="1235ed39-c7b9-4c7b-96c9-a0f3bbf22490" config-ref="Workday_Config_version_35" operation="Create_Job_Requisition"/>
		<ee:transform doc:name="Transform Message" doc:id="f9a7c498-ad01-40ce-9ffa-37c6ecb27ab0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	ID : payload.ns0#Create_Job_Requisition_Response.ns0#Job_Requisition_Reference[1]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d37a6815-06b2-4a7e-bf36-a0fcbb294ca2" />
	</flow>
	<flow name="post-job-flow" doc:id="75e5e6b0-27dd-49f2-9ae4-90d6182f0dd3" >
		<http:listener config-ref="HTTP_Listener_config" path="/post-job" doc:name="/post-job" doc:id="5f8fd83d-66db-429d-92c7-2ba6338ecf10" />
		<logger level="INFO" doc:name="Logger" doc:id="648a8516-c314-4e3e-b7d6-a83873b95c2a" />
		<ee:transform doc:name="Transform Message" doc:id="f5775027-fe64-45bb-aede-aa4f945e16c3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Post_Job_Request @(ns0#version: "v35.0"): {
		ns0#Business_Process_Parameters: {
			ns0#Auto_Complete: true
		},
		ns0#Post_Job_Data: {
			ns0#Job_Requisition_Reference: {
				ns0#ID @(ns0#"type": "Job_Requisition_ID"): payload.jobRequisitionIDValue
			},
			ns0#Job_Posting_Site_Data: {
				ns0#Job_Posting_Site_Reference: {
					ns0#ID @(ns0#"type": "Job_Posting_Site_ID"): payload.jobPostingSiteIDValue
				},
				ns0#Job_Posting_Start_Date: payload.startDate,
				ns0#Job_Posting_End_Date: payload.endDate
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Post_Job_Request @(ns0#version: "v35.0"): {
		ns0#Business_Process_Parameters: {
			ns0#Auto_Complete: true
		},
		ns0#Post_Job_Data: {
			ns0#Job_Requisition_Reference: {
				ns0#ID @(ns0#"type": "Job_Requisition_ID"): payload.jobRequisitionIDValue
			},
			ns0#Job_Posting_Site_Data: {
				ns0#Job_Posting_Site_Reference: {
					ns0#ID @(ns0#"type": "Job_Posting_Site_ID"): payload.jobPostingSiteIDValue
				},
				ns0#Job_Posting_Start_Date: payload.startDate,
				ns0#Job_Posting_End_Date: payload.endDate
			}
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:recruiting operation="Post_Job" doc:name="Recruiting || Post_Job" doc:id="3b4d14fd-b6a9-456e-b10a-87de5217bd43" config-ref="Workday_Config_version_35"/>
		<ee:transform doc:name="Transform Message" doc:id="6b40f4a2-560f-4df4-9fbc-96e6fb22c5df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	ID : payload.ns0#Post_Job_Response.ns0#Job_Posting_Data.ns0#Job_Posting_Reference[1]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ded2f28b-8ee6-497e-bd2c-0ec4f86bb4a0" />
	</flow>
	<flow name="update-job-posting-flow" doc:id="7e604f4f-1a8a-4274-a992-430fe5130bfe" >
		<http:listener config-ref="HTTP_Listener_config" path="/update-job-posting" doc:name="/update-job-posting" doc:id="1ba2df85-7106-40c6-8559-9722cec07174" />
		<logger level="INFO" doc:name="Logger" doc:id="50130905-74f3-464a-8e2a-91024182558f" />
		<ee:transform doc:name="Transform Message" doc:id="c15a978a-8357-40ca-abda-286fe905e8ff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Update_Job_Posting_Request @(ns0#version: "v35.0"): {
		ns0#Business_Process_Parameters: {
			ns0#Auto_Complete: true
		},
		ns0#Update_Job_Posting_Data: {
			ns0#Job_Posting_Reference: {
				ns0#ID @(ns0#"type": "Job_Posting_ID"): payload.jobPostingRefIDValue
			},
			ns0#Job_Posting_Data: {
				ns0#Job_Posting_Start_Date: payload.updateStartDate,
				ns0#Job_Posting_End_Date: payload.updateEndDate
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Update_Job_Posting_Request @(ns0#version: "v35.0"): {
		ns0#Business_Process_Parameters: {
			ns0#Auto_Complete: true
		},
		ns0#Update_Job_Posting_Data: {
			ns0#Job_Posting_Reference: {
				ns0#ID @(ns0#"type": "Job_Posting_ID"): payload.jobPostingRefIDValue
			},
			ns0#Job_Posting_Data: {
				ns0#Job_Posting_Start_Date: payload.updateStartDate,
				ns0#Job_Posting_End_Date: payload.updateEndDate
			}
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:recruiting operation="Update_Job_Posting" doc:name="Recruiting || Update_Job_Posting" doc:id="8807b98e-1719-4c5b-9019-eacc0f34ebad" config-ref="Workday_Config_version_35"/>
		<ee:transform doc:name="Transform Message" doc:id="7cc61490-f763-412a-a876-dcb44749db6a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	ID : payload.ns0#Update_Job_Posting_Response.ns0#Event_Reference[0]
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	ID : payload.Unpost_Job_Response.Job_Posting_Reference[1]
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ea991f53-bc65-445d-afc1-85e167af3491" />
	</flow>
	<flow name="unpost-job-flow" doc:id="a029bd32-a274-4e33-9686-ff92eb3af600" >
		<http:listener config-ref="HTTP_Listener_config" path="/unpost-job" doc:name="/unpost-job" doc:id="4deef670-45fe-40f2-abc6-4418e52ea12a" />
		<logger level="INFO" doc:name="Logger" doc:id="adb8673d-d30c-4792-a278-2366198a3d5f" />
		<ee:transform doc:name="Transform Message" doc:id="5caee6c8-dbda-4b78-901f-7593a0e9cdd9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Unpost_Job_Request @(ns0#version: "v35.0"): {
		ns0#Business_Process_Parameters: {
			ns0#Auto_Complete: true
		},
		ns0#Unpost_Job_Data: {
			ns0#Job_Posting_Reference: {
				ns0#ID @(ns0#"type": "Job_Posting_ID"): payload.unpostJobRefID
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Unpost_Job_Request @(ns0#version: "v35.0"): {
		ns0#Business_Process_Parameters: {
			ns0#Auto_Complete: true
		},
		ns0#Unpost_Job_Data: {
			ns0#Job_Posting_Reference: {
				ns0#ID @(ns0#"type": "Job_Posting_ID"): payload.unpostJobRefID
			}
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:recruiting operation="Unpost_Job" doc:name="Recruiting || Unpost_Job" doc:id="41f56a17-e9b1-4f19-a03c-f1a2cdbbc17a" config-ref="Workday_Config_version_35"/>
		<ee:transform doc:name="Transform Message" doc:id="031a2a51-1cf2-4acd-a0e9-f9d03867def8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	ID : payload.ns0#Unpost_Job_Response.ns0#Job_Posting_Reference[1]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dd26b31c-d825-4d50-a1a4-3dc69eb23d22" />
	</flow>
	<flow name="close-job-requisition-flow" doc:id="53ca1fba-1f75-4384-954d-194474aa6832" >
		<http:listener config-ref="HTTP_Listener_config" path="/close-job-requisition" doc:name="/close-job-requisition" doc:id="79a4e25b-ce19-45db-a5f2-35485208861e" />
		<logger level="INFO" doc:name="Logger" doc:id="783ab3d5-7813-4856-baa9-d2e2a37eb3e5" />
		<ee:transform doc:name="Transform Message" doc:id="05780ec8-fa63-4d02-9b3c-c8e6121a247a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Close_Job_Requisition_Request @(ns0#version: "v35.0"): {
		ns0#Business_Process_Parameters: {
			ns0#Auto_Complete: true
		},
		ns0#Close_Job_Requisition_Data: {
			ns0#Job_Requisition_Reference: {
				ns0#ID @(ns0#"type": "Job_Requisition_ID"): payload.closeJobRequisitionRefID
			},
			ns0#Close_Job_Requisition_Reason_Reference: {
				ns0#ID @(ns0#"type": "Event_Classification_Subcategory_ID"): payload.closeJobRequisitionReasonID
			},
			ns0#Job_Requisition_Close_Date: payload.jobRequisitionCloseDate
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Close_Job_Requisition_Request @(ns0#version: "v35.0"): {
		ns0#Business_Process_Parameters: {
			ns0#Auto_Complete: true
		},
		ns0#Close_Job_Requisition_Data: {
			ns0#Job_Requisition_Reference: {
				ns0#ID @(ns0#"type": "Job_Requisition_ID"): payload.closeJobRequisitionRefID
			},
			ns0#Close_Job_Requisition_Reason_Reference: {
				ns0#ID @(ns0#"type": "Event_Classification_Subcategory_ID"): payload.closeJobRequisitionReasonID
			},
			ns0#Job_Requisition_Close_Date: payload.jobRequisitionCloseDate
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:recruiting operation="Close_Job_Requisition" doc:name="Recruiting || Close_Job_Requisition" doc:id="68f434c5-98fc-4e24-a938-2c73ef949bf9" config-ref="Workday_Config_version_35"/>
		<ee:transform doc:name="Transform Message" doc:id="f92628a6-60bf-41b9-975d-8f857fb51273" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	ID : payload.ns0#Close_Job_Requisition_Response.ns0#Job_Requisition_Reference[1]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fc230ef9-b3b8-4188-8024-e18ae6bfc983" />
	</flow>
	<flow name="post-update-unpost-jobFlow" doc:id="61c051f1-0787-4b88-a142-845ec1bf5218" >
		<http:listener config-ref="HTTP_Listener_config" path="/get-job-requisition" doc:name="/get-job-requisition" doc:id="f8933877-90f1-40aa-9c02-7f7ff0d332d8" />
		<logger level="INFO" doc:name="Logger" doc:id="b03eaaad-1f0f-4554-a08e-be38c7724df1" />
		<ee:transform doc:name="Transform Message" doc:id="fec1f0eb-d234-4401-8c6d-4e1aacf77105" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Get_Job_Requisitions_Request @(ns0#version: "v35.0"): {
		ns0#Request_References: {
			ns0#Job_Requisition_Reference: {
				ns0#ID @(ns0#"type": "Job_Requisition_ID"): payload.getJobRequisitionRefID
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="myPayload" ><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Get_Job_Requisitions_Request @(ns0#version: "v35.0"): {
		ns0#Request_References: {
			ns0#Job_Requisition_Reference: {
				ns0#ID @(ns0#"type": "Job_Requisition_ID"): payload.getJobRequisitionRefID
			}
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<workday:recruiting operation="Get_Job_Requisitions" doc:name="Recruiting || Get_Job_Requisitions" doc:id="67aebf51-edfb-4347-982e-de20879a8f80" config-ref="Workday_Config_version_35"/>
		<ee:transform doc:name="Transform Message" doc:id="404bbd47-362c-4899-a5a0-b67918917d74" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 urn:com.workday/bsvc
---
{
	Status : "Job Requisition Status: " ++ payload.ns0#Get_Job_Requisitions_Response.ns0#Response_Data.Job_Requisition.ns0#Job_Requisition_Data.ns0#Job_Requisition_Status_Reference[1]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c0f6dd6d-b5a5-4663-8063-8d8bb73398a2" />
	</flow>
</mule>
